.form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

label{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:8px;
   
}

input[type="number"] {
    width: 360px;
    height: 40px;
}

fieldset{
    width: 360px;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
}

legend{
    font-weight: 400;
    font-size: 16px;
    padding: 0 12px;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 104px;
    flex-direction: row;
    font-size: 16px;
    justify-content: center;
    margin: 0 auto;
}


input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}


button{
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background-color: #4e75ff;
    color: #fff;
    font-weight: 500;
}

.iziToast.message{
    height: 64px;
    width: fit-content;
    border-radius: 4px;
}